@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Role</h2>
@*<a asp-action="Index">List Roles</a> | <a asp-action="Manage">Manage User Role</a>*@
<p class="btn btn-default">@Html.ActionLink("List Roles", "Index")</p> | <p class="btn btn-default">@Html.ActionLink("Manage User Role", "ManageUserRoles")</p>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
    <hr />
}
