@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Log In";
}
@using SonOfCodSeafood.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@Html.ValidationSummary("", new { @class = "textdanger" })

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    <br />

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    <br />

    <input type="submit" value="Log in" class="btn btn-default" />
}
